*.class

# Package Files #
*.jar
*.war
*.ear
/Quiz02/build/
/Quiz03/nbproject/private/
/Quiz03/build/
/Quiz04/nbproject/private/
/Quiz04/build/
/Quiz05/nbproject/private/
/Quiz05/build/
/Quiz07/nbproject/private/
/Quiz07/build/
/Quiz06/nbproject/private/
/Quiz06/build/
/Homework1/nbproject/private/
/Homework1/build/