*.class

# Package Files #
*.jar
*.war
*.ear

*/build/
*/nbproject/private/
/build/*
/nbproject/private/*
/Homework3/dist/
/Homework4/dist/
/TermProject/Code Samples/MissleLaunch/nbproject/private/
/TermProject/Code Samples/MissleLaunch/build/
/TermProject/Code Samples/MissleLaunch/dist/
/TermProject/Code Samples/AnimationTester/nbproject/private/
/TermProject/Code Samples/AnimationTester/build/
/TermProject/FunctionTests/MoveByKeyBoard/nbproject/private/
/TermProject/FunctionTests/MoveByKeyBoard/build/
/TermProject/FunctionTests/MoveByKeyBoard/dist/